<div class="row">
    <div class="col-sm-12">
      <h5> <span class="me-3" (click)="onGoBack()" title="Click Here to Go Back"> <i class="fal fa-backward"></i> </span> Add New Tutorials</h5>
    </div>
    <hr class="my-2" />
  </div>
  <div class="row">
    <div class="col-sm-12">
      <form [formGroup]="formDetails" class="tutorials_fields">
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label>Name</label>
              <input type="text" formControlName="name" name="name" id="name" class="form-control form-control-sm" placeholder="Enter Name" />
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label>Email Address</label>
              <input type="email" name="email" formControlName="email" id="email" class="form-control form-control-sm" placeholder="Enter Email" />
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label>Phone Number</label>
              <input type="number" name="phoneNumber" formControlName="phoneNumber" id="phoneNumber" class="form-control form-control-sm" placeholder="Enter Phone Number" />
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label>Address</label>
              <input type="text" name="address" id="address" formControlName="address" class="form-control form-control-sm" placeholder="Enter Address" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <button (click)="onSaveDetails()" class="btn w-25 btn-primary">Save</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>