<div class="header-box px-2 d-flex justify-content-between">
    <h1 class="fs-4 my-4" [routerLink]="'/home'">
      <span class="text-white rounded shadow px-2 me-2">NG Basic</span>
    </h1>
    <button class="btn d-md-none d-block close close-btn px-1 py-0 text-white">
      <i class="fal fa-stream"></i>
    </button>
  </div>
  
  <ul class="list-unstyled px-2">
    <li class="active" routerLink="/home" ><a href="javascript:void(0);" class="text-decoration-none px-4 py-2 d-block"> <i class="fal fa-home"></i> Dashboard</a></li>
    <li class="" [routerLink]="'/home'" ><a href="javascript:void(0);" class="text-decoration-none px-4 py-2 d-block"> <i class="fal fa-user"></i> Employees</a></li>
    <li class="" (click)="onTutorialsNavigation()"><a href="javascript:void(0);" class="text-decoration-none px-4 py-2 d-block"> <i class="fal fa-university"></i> Tutorials</a></li>
    <li class="" (click)="onUserManagementNavigation()"><a href="javascript:void(0);" class="text-decoration-none px-4 py-2 d-block"> <i class="fal fa-users"></i> User Management</a></li>
  </ul>